@{
    Layout = "_Layout";
}

<h1>Edit Vendor Information</h1>
<hr>
<p>
    <b>Current Name:</b> @Model.Name<br>
    <b>Current Description:</b> @Model.Description
</p><br>

<form action= "/vendors/@Model.Id" method= "post">
    <div class="form-group">
        <label for="name">New Name</label>
        <input name="name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">New Description</label>
        <input name="description" type="text" class="form-control" required>
    </div>
    <p><button type="submit" name="button" class="btn btn-primary">Submit Changes</button><p>
</form>

<a href='/vendors/@Model.Id'>Cancel</a>