@{
    Layout = "_Layout";
}

<h1>Add a New Vendor</h1>

<form action= "/vendors" method= "post">
    <label for="name">Name</label>
    <input name="name" type="text"><br>
    <label for="description">Description</label>
    <input name="description" type="text"><br>
    <p><button type="submit" name="button">Add</button><p>
</form>

<p><a href="/vendors">Cancel</a></p>

