@{
    Layout = "_Layout";
}

<h1>Pierre's Bakery - Admin Page</h1>
<p>Welcome Pierre!</p>
<p>You can view your vendors, their orders, and modify order details here. Click My Vendors to get started.</p>
<p><a href='/vendors'>My Vendors</a><p>