@{
    Layout = "_Layout";
}

<div class="centered">
    <h1>Pierre's Bakery - Admin Site</h1>
    <hr>
    <h3>Welcome Pierre!</h3>
    <p>
        On this site, you can:<br><br>
        • View and manage your vendors<br>
        • View a list of orders for each vendor
    </p><br>
    <p>Click "My Vendors" below to get started.</p>
    <p><a href='/vendors'>My Vendors</a><p>
</div>