@{
    Layout = "_Layout";
}

<h1>New Order for @Model.Name</h1>
<form action="/vendors/@Model.Id/orders" method="post">
    <input name="vendorId" type="hidden" value="@Model.Id">
    <label for="title">Title</label>
    <input name="title" type="text"><br>
    <label for="description">Description</label>
    <input name="description" type="text"><br>
    <label for="price">Price</label>
    <input name="price" type="number"><br>
    <label for="date">Date</label>
    <input name="date" type="text"><br>
    <button type="submit">Add Item</button>
</form>

<p><a href='/vendors/@Model.Id'>Cancel</a></p>